* {
    box-sizing: border-box; 
}

img {
    width:60%;
    height:60%;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul li {
    position: relative;
    margin-top: 20px;
    padding: 12px 16px 12px 16px;
    background: #b0edcf;
    font-size: 18px;
    font-family: cursive;
    

}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    background-color: rgba(186, 16,16, 1);
    font-size: larger;
    font-family: cursive;
  
}

.header {
    padding: 30px 40px;
    text-align: center;
}

h2 {
    color:rgba(58, 99, 253, 1);
    font-family: cursive;
    font-size: xx-large;
    font-weight: bold;

}

input {
    border: 3px solid rgb(91, 91, 96);
    border-radius: 10px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    font-family: cursive;
}

.boton {
    padding: 10px;
    width: 25%;
    border: 3px solid rgb(120, 122, 122);
    background: #6df376;
    color: #090909;
    float: left;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    font-family: cursive;
    
}