* {
    box-sizing: border-box; 
}

img {
    width:70%;
    height: 30%;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul li {
    position: relative;
    margin-top: 20px;
    padding: 12px 16px 12px 16px;
    background: #d1e3d8;
    font-size: 18px;

}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    background-color: #f93c68;
}

.header {
    background-color: #85f3f7;
    padding: 30px 40px;
    text-align: center;
}

h2 {
    color: rgba(252, 98, 228, 1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

input {
    border: 3px solid rgb(91, 91, 96);
    border-radius: 10px;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.boton {
    padding: 10px;
    width: 25%;
    border: 3px solid grey;
    background: #6df376;
    color: #090909;
    float: left;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
}