
h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: rgb(87, 87, 87);
    color: rgba(252, 98, 228, 1);
}
img{
   width: 100%;
   height: 300px;
}
ul {
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #b4f3d5;
    font-size: 18px;
   
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    background-color: rgb(223, 16, 43);
}

.cabecera {
    background-color: rgba(239, 232,234, 1);
    /*padding: 30px 40px;*/
    text-align: center;
}

input {
    margin: 0;
    border: none;
    border-radius: 2px;
    width: 75%;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(182, 254, 238);
}

.addBoton {
    padding: 10px;
    width: 25%;
    background: #ffffff;
    color: #5e0b84;
    text-align: center;
    font-size: 17px;
    border-radius: 20px;
    background-color: rgb(210, 162, 254);
}